body{
    margin-top: 50px;
}
/*========Home Page CSS=========*/
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default {
    background-color: #003580;
    border:none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
#banner img{
    height: 600px;
    width: 100%;;
 }

#promo{
    margin: 30px 0;
}


footer{
    background-color: #003580;
}
footer p{
    padding:10px 0;
    margin-bottom: 0;
    color: #fff;
}

/*==========About Page CSS=========*/
#about_content{
}


/*=============Contact Page CSS===============*/
#contact .row{
    margin-top: 30px;
}
#contact .btn{
    margin-top: 15px;
}
#map{
    margin:20px 0 -5px 0;
}

/*===========Login Page CSS===========*/
#login .row{
    margin: 30px 0;
}
#login .btn{
    margin-top: 10px;
}


/*===========Employee Page CSS============*/

#employee .row{
    margin: 30px 0;
}
#employee .btn{
    margin-top: 10px;
}

/*==========After Save===========*/
#aftersave .row{
    margin: 50px 0;
}
#aftersave .col-sm-5{
    padding-left:0;
}
#aftersave p{
    margin-bottom: 20px;
}

/*===========My Profile===========*/
#myProfile .row{
    margin: 50px 0;
}
#myProfile p{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: normal;
}
#myProfile img{
    height: 200px;
    width: 170px;
}

/*=============View On Click============*/
#clickview .row{
    margin: 50px 0;
}
#clickview .col-sm-9{
    padding-left:0;
}

/*============Admin Role============*/
#adminrole form{
    margin-top: 50px;
}
#adminrole table{
    margin: 50px 0;
}

/*==============Add Employee===============*/
#AddEmployee .row{
    margin: 30px 0;
}

/*=============Leave Management===============*/
#LeaveManagement{
    margin:100px 0 50px 0;
}

/*===========Employee Status============*/
#employeeStatus .col-sm-4{
    margin-top: 50px;
}
#employeeStatus table{
    margin: 20px 0 50px 0;
}

/*

CREATE TABLE employee_detail(
	e_id VARCHAR(10),
    name VARCHAR(50),
    email VARCHAR(40),
    password VARCHAR(15),
    user_role VARCHAR(10),
    gender VARCHAR(10),
    date_of_birth date,
    blood_group VARCHAR(5),
    address VARCHAR(150),
    contact VARCHAR(11),
    image BLOB,
    nid INT(16),
    father_name VARCHAR(50),
    mother_name VARCHAR(50),
    PRIMARY KEY (e_id)
)

CREATE TABLE employee_status(
    sl_no INT(10) AUTO_INCREMENT,
    e_id VARCHAR(10),
    department VARCHAR(20),
    designation VARCHAR(20),
    status VARCHAR(10),
    salary INT(10),
    leave_remain INT(3),
    working_hour VARCHAR(10),
    PRIMARY KEY (sl_no),
    FOREIGN KEY (e_id) REFERENCES employee_detail(e_id)

)

CREATE TABLE work_history(
    sl_no INT(10) AUTO_INCREMENT,
    e_id VARCHAR(10),
    date Date,
    check_in_time Time,
    check_out_time Time,
    reason VARCHAR(50),
    PRIMARY KEY (sl_no),
    FOREIGN KEY (e_id) REFERENCES employee_detail(e_id)

)
*/